<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jessrun.codegenerator.dao.CodeGeneratorMapper">
    
  
  <resultMap id="columnAndType" type="com.jessrun.codegenerator.domain.ColumnAndType" >
    <result column="COLUMN_NAME" property="columnName" jdbcType="VARCHAR" />
    <result column="DATA_TYPE"   property="dataType"   jdbcType="VARCHAR" />
    <result column="DATA_LENGTH"   property="dataLength"   jdbcType="INTEGER" />
    <result column="DATA_PRECISION"   property="dataPrecision"   jdbcType="INTEGER" />
    <result column="DATA_SCALE"   property="dataScale"   jdbcType="INTEGER" />
    <result column="NULLABLE"   property="nullable"   jdbcType="VARCHAR" />
    <result column="DATA_DEFAULT"   property="dataDefault"   jdbcType="VARCHAR" />
    <result column="COMMENTS"   property="comments"   jdbcType="VARCHAR" />
  </resultMap>

  <select id="getListColumnAndType" parameterType="java.lang.String"  resultMap="columnAndType">
      SELECT
		    A.COLUMN_NAME,A.DATA_TYPE,A.DATA_LENGTH,A.DATA_PRECISION,
		    A.DATA_SCALE ,A.NULLABLE ,A.DATA_DEFAULT ,B.COMMENTS 
		FROM
		    USER_TAB_COLUMNS A,USER_COL_COMMENTS B
		WHERE
		    A.TABLE_NAME = B.TABLE_NAME
		    AND A.COLUMN_NAME = B.COLUMN_NAME
		    AND A.TABLE_NAME = #{tableName}
  </select>
  
  <!-- 获取主键和字段 -->
    <select id="getPKandColumn" parameterType="java.lang.String"  resultType="java.util.Map">
		     select a.constraint_name constraName,  a.column_name pkColumn
				 from user_cons_columns a, user_constraints b 
				 where a.constraint_name = b.constraint_name 
				 and b.constraint_type = 'P' 
				and a.table_name =  #{tableName}
  </select>
 
  
</mapper>