<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


	<!--Spring ApplicationContext配置文件的路径。可使用通配符，多个路径用逗号分隔。 此参数用于后面的“Spring-Context 
		loader” -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:spring/*.xml,
			classpath:net/bull/javamelody/monitoring-spring.xml
		</param-value>
	</context-param>
	<!--Spring Context loader -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--Open Session in View Filter <filter> <filter-name>openSessionInView</filter-name> 
		<filter-class> org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>openSessionInView</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> -->
	<filter>
		<filter-name>webContextFilter</filter-name>
		<filter-class>com.jessrun.common.web.filter.WebContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>webContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--famous Character Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 用户权限过滤器 <filter> <filter-name>userAuthorizationFilter</filter-name> 
		<filter-class>com.jointown.support.filter.UserAuthorizationFilter</filter-class> 
		<init-param> <description>过滤器排除的URL地址,多个用','分割</description> <param-name>excludeUrls</param-name> 
		<param-value>/user/login.jsp,/user/login.htm,/user/logincommit.htm</param-value> 
		</init-param> </filter> <filter-mapping> <filter-name>userAuthorizationFilter</filter-name> 
		<url-pattern>/user/*</url-pattern> </filter-mapping> -->
	<!-- 操作员权限过滤器 <filter> <filter-name>operatorAuthorizationFilter</filter-name> 
		<filter-class>com.jointown.support.filter.OperatorAuthorizationFilter</filter-class> 
		<init-param> <description>过滤器排除的URL地址</description> <param-name>excludeUrls</param-name> 
		<param-value>/se/logout.htm,/se/login.jsp,/se/login.htm,/se/logincommit.htm</param-value> 
		</init-param> <init-param> <description>过滤器排除掉需要登录但不需要权限认证的URL地址</description> 
		<param-name>excludeAuthorizationUrls</param-name> <param-value>/se/,/**/include/**,/**/json/**</param-value> 
		</init-param> </filter> <filter-mapping> <filter-name>operatorAuthorizationFilter</filter-name> 
		<url-pattern>/se/*</url-pattern> </filter-mapping> -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- javaMelody -->
	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>URLRewriteFilter</filter-name>
		<filter-class>com.jessrun.certify.web.filter.URLRewriteFilter</filter-class>
		<init-param>
			<param-name>isSelfURLRewrite</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>URLRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpeg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.bmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.tif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.exe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.zip</url-pattern>
	</servlet-mapping>
	<!-- <servlet> <servlet-name>FreeMarkerPaginationConvertor</servlet-name> 
		<servlet-class>com.jessrun.common.pagination.FreeMarkerPaginationConvertor</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>FreeMarkerPaginationConvertor</servlet-name> 
		<url-pattern>pagination.ftl</url-pattern> </servlet-mapping> -->


	<!-- spring mvc put,delete support filter -->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>springmvc</servlet-name>
	</filter-mapping>
	<!-- page cached in memcached filter <filter> <filter-name>memCachedControllerMethodFilter</filter-name> 
		<filter-class>com.jzt.common.cache.filter.MemCachedControllerMethodFilter</filter-class> 
		<init-param> <description>filter需要拦截的URL后缀,必填写，多个以','分割</description> <param-name>interceptSuffix</param-name> 
		<param-value>/,htm,json</param-value> </init-param> </filter> <filter-mapping> 
		<filter-name>memCachedControllerMethodFilter</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> -->
	<!--session 超时定义 分钟 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!--默认首页定义 -->
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>


	<error-page>
		<error-code>404</error-code>
		<location>/error/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error/503.html</location>
	</error-page>

	<jsp-config>
		<taglib>
			<taglib-uri>http://jessrun/jstl/confgrid</taglib-uri>
			<taglib-location>/WEB-INF/jessRun.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>