<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jessrun.web.system.dao.CertifyResourceMapper" >
	<resultMap id="BaseResultMap" type="com.jessrun.web.system.domain.CertifyResource" >
    	<id column="id" property="id" jdbcType="INTEGER" />
    	<result column="name" property="name" jdbcType="VARCHAR"/>
    	<result column="type" property="type" jdbcType="INTEGER" />
    	<result column="val" property="val" jdbcType="VARCHAR"/>
    	<result column="parent_id" property="parentId" jdbcType="INTEGER" />
    	<result column="sort" property="sort" jdbcType="INTEGER" />
  	</resultMap>
  	
  	<sql id="Base_column_list">
  		id,name,type,val,parent_id,sort
  	</sql>
  	
  	<select id="getCertifyResourceList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  		  select 
  		  <include refid="Base_column_list"/> 
  		  from (
				<choose>
					<when test="accountId == 0">	 
					select * from tb_certify_resource p start with p.id = 0 connect by prior p.id = p.parent_id
					</when>
					<otherwise>
					select * from tb_certify_resource p where p.id in (
					select distinct t.id
					from tb_certify_resource t   
					connect by prior t.parent_id = t.id   
					start with t.id in (
					select distinct b.id from tb_certify_reso_acco a, tb_certify_resource b where a.account_id = #{accountId,jdbcType=INTEGER} and a.resource_id = b.id))
					</otherwise>
				</choose>
			) q connect by prior q.id = q.parent_id
				start with q.parent_id = 0 order siblings by q.sort asc
  	</select>
</mapper>