<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jessrun.system.dao.SysDictMapper" >
  
  <!-- 实体类映射mapper -->
  <resultMap id="SysDict" type="com.jessrun.system.domain.SysDictVO" >
         <id property="id" column="FID" jdbcType="VARCHAR"  />
  	     <result column="FNAME" property="dictName" jdbcType="VARCHAR" />
  	     <result column="FCODE" property="dictCode" jdbcType="VARCHAR" />
  	     <result column="FREMARK" property="remark" jdbcType="VARCHAR" />
  	     <result column="FCREATE_TIME" property="createTime" jdbcType="DATE" />
  </resultMap>
  
  <!--查询条件-->
  <sql id="where_condition">
	  	     <if test="dictName != null ">
	  			and FNAME = #{dictName,jdbcType=VARCHAR}
	  		</if>
	  	     <if test="dictCode != null">
	  			and FCODE = #{dictCode,jdbcType=VARCHAR}
	  		</if>
  </sql>
  
 <!--查询单个Object--> 
  <select id="selectById" resultMap="SysDict">
  	select 
	  	       id ,       
	  	       dictName ,       
	  	       dictCode ,       
	  	       remark ,       
	  	       createTime        
	   from t_sys_dict  where 1=1  <include refid="where_condition"/>
  </select>
  
   <!--保存单个Object--> 
  <insert id="saveObject" parameterType="com.jessrun.system.domain.SysDictVO">
		insert into t_sys_dict (
	  	       FID ,       
	  	       FNAME ,       
	  	       FCODE ,       
	  	       FREMARK ,       
	  	       FCREATE_TIME        
		)
		values(
	  	       #{id,jdbcType=VARCHAR },
	  	       #{dictName,jdbcType=VARCHAR },
	  	       #{dictCode,jdbcType=VARCHAR },
	  	       #{remark,jdbcType=VARCHAR },
	  	       sysdate
        )
	</insert>
 
  <!--唯一性校验-->
  <select id="checkDateIsExits" parameterType="java.lang.String"  resultType="java.lang.Integer">
  		select 
		    count(1) result
		 from t_sys_dict
		  <where>
	    </where>
  </select>
  
  <!--更新单个对象-->
  <update id="updateObject" parameterType="com.jessrun.system.domain.SysDictVO">
		update t_sys_dict  set
	  	      FID=#{id,jdbcType=VARCHAR} ,       
	  	      FNAME=#{dictName,jdbcType=VARCHAR} ,       
	  	      FCODE=#{dictCode,jdbcType=VARCHAR} ,       
	  	      FREMARK=#{remark,jdbcType=VARCHAR} ,       
	  	      FCREATE_TIME=#{createTime,jdbcType=DATE}        
	  	where
	  	    	FID=#{id,jdbcType=VARCHAR}
  </update>
  
  <!--分页查询-->
  <select id="selectListByPage" resultMap="SysDict" parameterType="java.util.Map" >
	select 
	  	       FID ,       
	  	       FNAME ,       
	  	       FCODE ,       
	  	       FREMARK ,       
	  	       FCREATE_TIME        
	   from t_sys_dict  where 1=1  <include refid="where_condition"/>
  </select>
</mapper>