<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jessrun.system.dao.SysDictMapper" >
  
  <!-- 实体类映射mapper -->
  <resultMap id="SysDict" type="com.jessrun.system.domain.SysDictVO" >
         <id property="id" column="FID" jdbcType="VARCHAR"  />
  	     <result column="FNAME" property="dictName" jdbcType="VARCHAR" />
  	     <result column="FCODE" property="dictCode" jdbcType="VARCHAR" />
  	     <result column="FREMARK" property="remark" jdbcType="VARCHAR" />
  	     <result column="FCREATE_TIME" property="createTime" jdbcType="DATE" />
  </resultMap>
  
  <!--查询条件-->
  <sql id="where_condition">
	  	     <if test="dictName != null ">
	  			and FNAME = #{dictName,jdbcType=VARCHAR}
	  		</if>
	  	     <if test="dictCode != null">
	  			and FCODE = #{dictCode,jdbcType=VARCHAR}
	  		</if>
  </sql>
  
 <!--查询单个Object--> 
  <select id="selectById" resultMap="SysDict">
  	select 
	  	       FID ,       
	  	       FNAME ,       
	  	       FCODE ,       
	  	       FREMARK ,       
	  	       FCREATE_TIME               
	   from t_sys_dict  where FID =#{id}
  </select>
  
   <!--保存单个Object--> 
  <insert id="saveObject" parameterType="com.jessrun.system.domain.SysDictVO">
		insert into t_sys_dict (
	  	       FID ,       
	  	       FNAME ,       
	  	       FCODE ,       
	  	       FREMARK ,       
	  	       FCREATE_TIME        
		)
		values(
	  	       #{id,jdbcType=VARCHAR },
	  	       #{dictName,jdbcType=VARCHAR },
	  	       #{dictCode,jdbcType=VARCHAR },
	  	       #{remark,jdbcType=VARCHAR },
	  	       sysdate
        )
	</insert>
 
  <!--唯一性校验-->
  <select id="isUniqueExist" parameterType="com.jessrun.system.domain.SysDictVO"  resultMap="SysDict">
  		select *
		 from t_sys_dict where 1=1 
	  	     <if test="dictCode != null  and dictCode !='' ">
	  			and FCODE = #{dictCode,jdbcType=VARCHAR}
	  		</if>
  </select>
  
   <!--刪除-->
  <delete id="deleteById" parameterType="java.lang.String" flushCache="true" >
  		  delete from  t_sys_dict where FID=#{id,jdbcType=VARCHAR}
  </delete>
  
  
  <delete id="deleteByIds" >
		 delete from  t_sys_dict where FID in
		<foreach item="item" index="index" collection="list"
			open="(" separator="," close=")">
			#{item}
		</foreach>
</delete>
  
  <!--更新单个对象-->
  <update id="updateObject" parameterType="com.jessrun.system.domain.SysDictVO">
		update t_sys_dict  set
	  	      FID=#{id,jdbcType=VARCHAR} ,       
	  	      FNAME=#{dictName,jdbcType=VARCHAR} ,       
	  	      FCODE=#{dictCode,jdbcType=VARCHAR} ,       
	  	      FREMARK=#{remark,jdbcType=VARCHAR} ,       
	  	      FCREATE_TIME=#{createTime,jdbcType=DATE}        
	  	where
	  	    	FID=#{id,jdbcType=VARCHAR}
  </update>
  
  <!--分页查询-->
  <select id="selectListByPage" resultMap="SysDict" parameterType="java.util.Map" >
	select 
	  	       FID ,       
	  	       FNAME ,       
	  	       FCODE ,       
	  	       FREMARK ,       
	  	       FCREATE_TIME        
	   from t_sys_dict  where 1=1  <include refid="where_condition"/>
  </select>
  
   <select id="queryDict" resultMap="SysDict" parameterType="java.util.Map" >
	select 
	  	       FID ,       
	  	       FNAME ,       
	  	       FCODE ,       
	  	       FREMARK ,       
	  	       FCREATE_TIME        
	   from t_sys_dict 
  </select>
</mapper>