<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jessrun.system.dao.SysDictDetailMapper" >
  
  <!-- 实体类映射mapper -->
  <resultMap id="SysDictDetail" type="com.jessrun.system.domain.SysDictDetailVO" >
  	     <result column="FID" property="id" jdbcType="VARCHAR" />
  	     <result column="FDICT_ID" property="dictId" jdbcType="VARCHAR" />
  	     <result column="FCODE" property="code" jdbcType="VARCHAR" />
  	     <result column="FNAME" property="name" jdbcType="VARCHAR" />
  	     <result column="FORDER" property="order" jdbcType="DECIMAL" />
  	     <result column="FREMARK" property="remark" jdbcType="VARCHAR" />
  	     <result column="FCREATE_TIME" property="createTime" jdbcType="DATE" />
  	     <result column="FDICT_TEXT" property="dictText" jdbcType="VARCHAR" />
  </resultMap>
  
  <!--查询条件-->
  <sql id="where_condition">
	  	     <if test="code != null and code!=''">
	  			and FCODE = #{code}
	  		</if>
	  	     <if test="name != null and name!=''">
	  			and FNAME = #{name}
	  		</if>
  </sql>
  
 <!--查询单个Object--> 
  <select id="selectById" resultMap="SysDictDetail">
  	select 
	  	       t1.FID ,       
	  	       t1.FDICT_ID ,       
	  	       t1.FCODE ,       
	  	       t1.FNAME ,       
	  	       t1.FORDER ,       
	  	       t1.FREMARK ,       
	  	       t1.FCREATE_TIME,
	  	       t2.FNAME FDICT_TEXT            
	   from t_sys_dict_detail  where 1=1  <include refid="where_condition"/>
  </select>
  
   <!--保存单个Object--> 
  <insert id="saveObject" parameterType="com.jessrun.system.domain.SysDictDetailVO">
		insert into t_sys_dict_detail (
	  	       FID ,       
	  	       FDICT_ID ,       
	  	       FCODE ,       
	  	       FNAME ,       
	  	       FORDER ,       
	  	       FREMARK ,       
	  	       FCREATE_TIME        
		)
		values(
	  	       #{id,jdbcType=VARCHAR },
	  	       #{dictId,jdbcType=VARCHAR },
	  	       #{code,jdbcType=VARCHAR },
	  	       #{name,jdbcType=VARCHAR },
	  	       #{order,jdbcType=VARCHAR },
	  	       #{remark,jdbcType=VARCHAR },
	  	       sysdate
        )
	</insert>
  
   <!--唯一性校验-->
  <select id="isUniqueExist" parameterType="com.jessrun.system.domain.SysDictDetailVO"  resultMap="SysDictDetail">
  		select *
		 from t_sys_dict_detail where 1=1 
	  	     <if test="code != null  and code !='' ">
	  			and FCODE = #{code,jdbcType=VARCHAR}
	  		</if>
  </select>
  
   <!--刪除-->
  <delete id="deleteById" parameterType="java.lang.String" flushCache="true" >
  		  delete from  t_sys_dict_detail  where FID= #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByIds" >
		 delete from   t_sys_dict_detail where FID in
		<foreach item="item" index="index" collection="list"
			open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
  
  <!--更新单个对象-->
  <update id="updateObject" parameterType="com.jessrun.system.domain.SysDictDetailVO">
		update t_sys_dict_detail  set
	  	      FID=#{id,jdbcType=VARCHAR} ,       
	  	      FDICT_ID=#{dictId,jdbcType=VARCHAR} ,       
	  	      FCODE=#{code,jdbcType=VARCHAR} ,       
	  	      FNAME=#{name,jdbcType=VARCHAR} ,       
	  	      FORDER=#{order,jdbcType=DECIMAL} ,       
	  	      FREMARK=#{remark,jdbcType=VARCHAR} ,       
	  	      FCREATE_TIME=#{createTime,jdbcType=DATE}        
	  	where
	  	    	FID=#{id,jdbcType=VARCHAR}
  </update>
  
  <!--分页查询-->
  <select id="selectListByPage" resultMap="SysDictDetail" parameterType="java.util.Map" >
	select 
	  	       t1.FID ,       
	  	       t1.FDICT_ID ,       
	  	       t1.FCODE ,       
	  	       t1.FNAME ,       
	  	       t1.FORDER ,       
	  	       t1.FREMARK ,       
	  	       t1.FCREATE_TIME,
	  	       t2.FNAME FDICT_TEXT       
	   from t_sys_dict_detail t1
	   join t_sys_dict t2 on t1.fdict_id= t2.fid
	    where 1=1  <include refid="where_condition"/>
  </select>
</mapper>